html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth;
}

.smooth-scroll{
    scroll-behavior: smooth;
}

.home-button {
    position: relative;
    z-index: 10; 
}

#startSection {
    min-height: 100vh; 
}

#homevideo {
    object-fit: cover;
    width: 100%;
    height: 100%; 
}

#startButton {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    z-index: 1; 
    transform: none; 
  }

#modelSection, #quizSection {
    height: 100vh; 
}

#sketchfab-embed {
    width: 100%;
    height: 100%;
    border: none;
}

iframe {
    pointer-events: auto;
}

@keyframes launch {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-1000px); opacity: 0; }
}

.rocket-launch {
  animation: rocketLaunch 1s forwards;
}

@keyframes rocketLaunch {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.bg1{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('1.jpg');
}

.bg2{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('2.jpg');
}

.bg3{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('3.jpg');
}

.bg4{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('4.jpg');
}

.bg5{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('5.jpg');
}

.bg6{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('6.jpg');
}

.bg7{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('7.jpg');
}

.bg8{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('8.jpg');
}

.bg9{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('9.jpg');
}

.bg10{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('10.jpg');
}

.content {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align:justify;
    z-index: 2;
}

h1, p{
    color: white;
}
#prevButton, #nextButton {
    opacity: 0.7;
}
  
#prevButton:hover, #nextButton:hover {
    opacity: 1;
}


